/* General styles */
* {
  box-sizing: border-box;
}

body {
    background: rgb(90,33,113);
	background: linear-gradient(90deg, rgba(90,33,113,1) 0%, rgba(144,45,106,1) 48%, rgba(88,29,73,1) 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	/* use flex properties to align tag button list */
	display: flex; 
	flex-wrap: wrap;
	justify-content: start;
	width: 100%;
	max-width: 700px;
}

li {
  margin: 0.2em 1em; 
  height: 25px;
}

li span {
	height: 25px;
	margin-right: 20px;
	text-align: right;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.3s linear; /* implementing transition while showing tags */
	opacity: 0;
	border-collapse: collapse;
}

li:hover span{ 
   width: 40px;
   opacity: 1.0;
 }

/* Header jumbotron style */
div.wonder-heading {
	background: #ffb32c;
	color: white;
}

/* Main container styles */

.container.tags-container {
	margin: 3em auto;
	padding-top: 1em;
	border-radius: 1%;
	box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
	height: 100%;
	width: 50%;
	max-width: 700px;
	background: #E0EAFC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Input-related styles */

 #adc-tags {
  width: 100%;
  height: 100px;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  background-color: #f8f8f8; 
  resize: none;
  margin-top: 0.5em;
 }

 label {
	font-size: 1.25em;
}
/* style for tag box */

div.tags-box {
	display: flex;
	flex-wrap: wrap;
}

/* Add background color for the modal content */

div.modal-content {
	background: #E0EAFC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Button styles */

button.main-buttons {
	cursor: pointer;
	outline: none;
	text-decoration: none;
	transition-duration: 0.4s;
	width: 70px;
    margin-bottom: 0.4em;
}

button.main-buttons:hover {
	background-color: white;
	color: black;
	box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 14px 45px 0 rgba(0,0,0,0.19);
  }

button.main-buttons:focus {
	outline:0;
}

button.add-button {
	float: right;
}

button.tag-button {
  padding: 0;
  width: 50px;
  border: none;
}

button#Popover1:hover {
	background-color: white;
  	color: black;
  	box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 14px 45px 0 rgba(0,0,0,0.19);
}

/* Horizontal line style separating input field from tag buttons */

hr.break {
	border-top: 1px dashed black;
}

/* small-screen resolution styles */
@media only screen and (max-width: 768px) { 
	.container.tags-container {
		width: 80%;
	}
	h1.display-4 {
		font-size: 2em;
	}
	div.wonder-heading {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	div.wonder-heading p {
		font-size: 1em; 
	}
}